%h1 Listing industry_sectors

%table
  %thead
    %tr
      %th Code
      %th Name
      %th
      %th
      %th

  %tbody
    - @industry_sectors.each do |industry_sector|
      %tr
        %td= industry_sector.code
        %td= industry_sector.name
        %td= link_to 'Show', industry_sector
        %td= link_to 'Edit', edit_industry_sector_path(industry_sector)
        %td= link_to 'Destroy', industry_sector, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Industry sector', new_industry_sector_path
