= render partial: "notice", object: notice

%div
  = link_to 'Industry sectors', industry_sectors_path
  
%p
  %b Code:
  = @industry_sector.code
%p
  %b Name:
  = @industry_sector.name

= link_to 'Edit', edit_industry_sector_path(@industry_sector)
\|
= link_to 'Back', industry_sectors_path
