= render partial: "notice", object: notice

%div
  = link_to 'Industry sectors', industry_sectors_path

%br

%div
  %b Code:
  = @industry_sector.code
%div
  %b Name:
  = @industry_sector.name

%br
%p
  %i
    Organizations in this sector:
  
- @industry_sector.organizations.each do |org|
  %b
    = link_to org.name, organizations_path(org)