= render partial: "notice", object: notice

%h1
  Boundaries
  &nbsp;
  = link_to 'Boundary', new_boundary_path, type: 'button', class: 'btn btn-outline-secondary btn-sm'

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Organization
      %th
      %th

  %tbody
    - @boundaries.each do |boundary|
      %tr
        %td= link_to boundary.name, boundary
        %td= link_to boundary.organization.name, organization_path(boundary.organization)
        %td
          &nbsp;&nbsp;
          = link_to '<i class="bi bi-pencil"></i>'.html_safe, edit_boundary_path(boundary), class: "btn btn-outline-secondary btn-sm"
          &nbsp;
          = link_to '<i class="bi bi-trash"></i>'.html_safe, boundary, method: :delete, data: { confirm: 'Truly?' }, class: "btn btn-outline-secondary btn-sm"
          