%p#notice= notice

%p
  %b Name:
  = @boundary.name
%p
  %b Organization:
  = link_to @boundary.organization.name, organization_path(@boundary.organization)

= link_to 'Edit', edit_boundary_path(@boundary)
\|
= link_to 'Back', boundaries_path
