= form_for @organization_address_type do |f|
  - if @organization_address_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization_address_type.errors.count, "error")} prohibited this organization_address_type from being saved:"
      %ul
        - @organization_address_type.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :code
    = f.text_field :code
  .actions
    = f.submit 'Save'
