= render partial: "notice", object: notice

%p
  %b Name:
  = @organization_address_type.name
%p
  %b Code:
  = @organization_address_type.code

= link_to 'Edit', edit_organization_address_type_path(@organization_address_type)
\|
= link_to 'Back', organization_address_types_path
